@charset "utf-8";
/* Font
================================================================================================= */
@font-face {
    font-family: 'HelveticaNeueLTPro-UltLt';
    src: url('helveticaneueltproultlt.eot');
    src: url('helveticaneueltproultlt.eot?#iefix') format('embedded-opentype'),
    url('helveticaneueltproultlt.woff') format('woff'),
    url('helveticaneueltproultlt.ttf') format('truetype'),
    url('helveticaneueltproultlt.svg#helveticaneueltproultlt') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Reset
================================================================================================= */
body{color:#aaa;background:#fff;font-size:11px;-webkit-text-size-adjust:none;line-height:1.666em;font-family:Helvetica, Arial, 'HelveticaNeueLTPro-UltLt','Microsoft YaHei'}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}em,i{font-style:normal;text-decoration:none;}
ul{list-style:none;}
a{text-decoration:none;color:#a7a9ac;blr:expression(this.onFocus=this.blur());}
a:focus{outline:none;-moz-outline:none;}
a:hover{color:#939393}
.cs-clear{+zoom:1;}
.cs-clear:before,.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* DLArchitecture 2013-05-20
================================================================================================= */
.page{width:950px;margin:0 auto;}
.phd{height:105px;position: relative;margin:25px 0 0}
.phd_clients{margin: 20px 0 0;height:136px;}
.phd_project{margin:25px 0 0;height:162px;}
    .region-content {clear:both;}
    #project_filters {float:right;height:30px;margin:0 51px 0 0;}
    #project_filters li {float:left;margin:0 0 0 10px;display: none;}
    #project_filters li.on {display: block;}
    #project_filters li.on a {color:#333;}
.phd_contact{height: 95px}
	.logo{width:122px;height:16px;background:url(../img/main.gif) no-repeat 0 0;position: absolute;top:0;line-height: 100em;overflow: hidden}
		.logo a{width:122px;height:16px;display: block;}
	.cn{width:22px;height: 11px;background: url(../img/main.gif) no-repeat 0 -30px;position: absolute;right:0;top:5px;text-indent:-999em;}
	.nav{position: absolute;left:180px;top:1px;}
		.navitem{float:left;height:40px;position: relative;}
		.navitem a{padding:0 10px;}
        .navitem a:hover {color:#333;}
        .navitem a.on{color:#333}

	.nav_menu{background: url(../img/secondopen.gif) no-repeat 35px 0;position: absolute;top:25px;left:-10px;width:120px;padding:10px 0 0;display:none;}
	.nav_menu_pro{left:18px;}
		.nav_menu a{display: block;}
.pft{margin: 36px 0 0;position: relative;height:50px;}
	.copyright{position: absolute;left:0;top:4px;}
	.share{position: absolute;top:0;right:0}
		.share_fb,
		.share_t{width:21px;height: 21px;float:left;background: url(../img/main.gif) no-repeat 5px -50px;_display:inline;margin:0 0 0 18px;}
		.share_t{background-position: -35px -50px}
    .cn:hover,
    .share_fb:hover,
    .share_t:hover{opacity: 0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}

/* mod */
.mod_slide{position: relative;width:950px;height: 423px;opacity:0;}
	.slide_list{position: absolute;bottom:9px;right:0;}
	.slide_list li{float:left;width:8px;height: 8px;background: #cecbcd;_display:inline;margin-right: 9px;cursor: pointer;overflow: hidden}
	.slide_list li.on{background: #fff}
.mod_clients{padding: 0 0 10px}
	.client_item{float:left;width:300px;_display:inline;margin:0 16px 0 0;font-size:17px;color:#000;height: 38px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
	.client_item span{color:#939393;font-size: 13px;}
.mod_pro{width:950px;overflow: hidden}
	.projectlist{width:1000px;}
	.project_item{width:223px;height: 223px;position: relative;cursor: pointer;float:left;_display:inline;margin:0 21px 20px 0}
	.pro_hover{display: none}
	.pro_hoveron{display: block;}
	.pro_info{position: absolute;z-index:19;overflow:hidden;top:0;left:0;font-size:28px;font-family: 'HelveticaNeueLTPro-UltLt','Microsoft YaHei';line-height:36px;padding:20px 0 0 24px;color:#fff; text-transform: uppercase;}
	.pro_shade{position: absolute;background: #000;z-index:9;width:223px;height:223px;overflow:hidden;top:0;left:0;
		opacity: 0.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.mod_aboutslide{float:left;width:556px;height: 364px;position: relative;}
.mod_aboutcon{float:right;width:374px;}
	.mod_aboutcon h2{font-size: 46px;font-weight: normal;height:46px;line-height: 46px;font-family: 'HelveticaNeueLTPro-UltLt','Microsoft YaHei'}
	.mod_aboutcon p{padding:12px 0 0;color:#555;}
.mod_before_after{padding: 0 0 10px}
    .pic_bef{float:left;width:470px;height: 423px;overflow: hidden;}
    .pic_aft{float:right;width:470px;height: 423px;overflow: hidden;}
    .bef_aft_info h2,
    .address h2{font-size:46px;font-weight: normal;line-height: 46px;height: 54px;padding:30px 0 0;color:#333;font-family: 'HelveticaNeueLTPro-UltLt'; text-transform: uppercase;}
    .bef_aft_fi p{float:left;color:#888}
    .bef_aft_fi .bef_aft_label{text-align: right;width:50px;color:#000;padding-right:26px}
.mod_contact{color:#888;padding: 0 0 50px}
    .contact_con{position: relative}
        .address h2{height: 64px}
        .address p{padding: 0 0 0 4px;height: 24px;}
    .message{position: absolute;width:412px;right:0;top:32px}
        .ipt_mess,.text_mess{outline:none;resize:none;font-size: 11px;color:#b6b6b6;border:#cbcbcb solid 1px;width:226px;padding: 0 12px;height:32px;line-height:32px;margin:0 0 12px;font-family:Helvetica, Arial, 'HelveticaNeueLTPro-UltLt','Microsoft YaHei'}
        .ipt_mess:focus,.text_mess:focus {border:1px solid #aaa;}
        .text_mess{padding:6px 12px;width:386px;height:100px;line-height:22px;}
        .ipt_btn{background:#4c4c4c;color:#fff;width:48px;height: 24px;border:0;font-size: 10px;cursor: pointer;font-family:Helvetica, Arial,  'HelveticaNeueLTPro-UltLt','Microsoft YaHei'}
        .ipt_btn:hover{background: #939393}

body .bx-wrapper .bx-pager{
    bottom: 5px;
    width: auto;
    right: 5px;
}
body .bx-wrapper .bx-pager.bx-default-pager a{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0 3px;
    background: #CECBCD;
}
body .bx-wrapper .bx-pager.bx-default-pager a.active,
body .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: white;
}


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


#googlemap {width:100%;height:400px;}

.nav a,
.fancybox-close,
.fancybox-nav,
.bx-controls-direction a,
.bx-pager-link,
.share a,
.ipt_btn,
.ipt_mess,.text_mess
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}

#fancybox-c-prev {position:absolute;left:0;top:0;z-index:9999;width:30px;height:100%;background:#000;}

.page-press .fancybox-prev {position: fixed;left:0;top:0;background:url(../images/comment-arrow.gif) no-repeat center;width:100px;opacity:0.4;}
.page-press .fancybox-next {position: fixed;right:0;top:0;background:url(../images/comment-arrow-rtl.gif) no-repeat center;width:100px;opacity:0.4;}

.ui-tooltip {
    opacity:0.7;
    background:#fff;
    color:#000;
    position: absolute;
    padding:5px 10px;
}

#bxslider {opacity:0;}
.project_gallery_wrap {height:423px;}